---
layout: blog-layout
title:  Welcome to the official e-learning blog of Adassa Academy.
description: This is the Adassa Academy official blog that contains informative and innovative posts for your educational needs.
---

<div class="container blog-section font-size-1-5em">

    <h1>Blog</h1>
    <div class="hline"></div>
    <div class="row">

        <!-- BLOG POSTS LIST -->
        <div class="col-lg-8">

            {% for post in site.posts limit:28 %}
            <!-- Blog Post -->
            <a href="{{ post.url | prepend: site.baseurl }}">
                <img class="img-fluid mb-3 post-feature-image" 
                     src="{{ "/assets/media/blog/" | prepend: site.baseurl }}{{ post.img }}">
            </a>
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h2 class="ctitle">{{ post.title }}</h2>
            </a>
            <p><em>{{ post.date | date: "%b %-d, %Y" }}. | by {{ post.author }}</em></p>
            {{ post.excerpt }}
            <p><a href="{{ post.url | prepend: site.baseurl }}">[Read More]</a></p>
            <div class="hline"></div>

            <div class="spacing"></div>
            {% endfor %}

        </div><!--/col-lg-8 -->

        {% include sidebar.html %}

    </div><!--/row -->    
</div>
